*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 80vh;
    display: flex;
    flex-direction:column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b5bcca;;

}
header{
    background-color:#b5bcca;
    color:white;
    padding:30px;
}

.topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.topo h1{
    font-size: 100px;
}

.topo p{
    font-size: ;
}

header h1{
    font-size:  50px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
header p{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.produtos{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;   /* center - flex-start ou end*/  
    gap: 25px;
    padding: 30px;
    max-width: 1300px;
    margin: auto;
}

.card img{
    width: 400px;
    height: 400px;
    background-color: azure;
    border-radius: 10px;
    overflow: hidden; /*ajusta o tamanho da imagem para o tamanho do card */
    padding-bottom: 20px;   
         
}

.card :hover{
   /* transform : translateY(-50px); */
}
.card button{
    width: 100px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: large;
    margin-left: 150px;
    background-color: rgb(31, 150, 230);

}
 .card h2{
    color: blue;
    text-align: center;
    padding: 15px;
 }   
.card p{
    padding: 0 15px 15px;
    color: rgb(109, 95, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 60px;
}

img{
    width: 400px;
    height: 300px;
}
      